<% if @users.any? %>
<h2>There are <%= @users.count %> active users.</h2>
  <% @users.each do |user| %>
  <ul>
  <li><%= user.username %></li>
  <li><%= user.email %></li>
</ul>
  <% end %>
<% else %>
<p>There are no users yet.</p>
<% end %>
